{{define "car-product-list"}}

    {{/*Car Products List*/}}
    <div class="car-grid">

        {{ range . }}

            <div class="car-card">
                <div class="car-header">
                    <div class="car-title">{{ with .Make }}{{ . }}{{ end }}{{ with .Model }}{{ . }}{{ end }}</div>
                    <div class="car-status processing">{{ with .Status }}{{ . }}{{ end }}</div>
                </div>
                <div class="car-info">
            {{ with .Make }}<div>🏢 Make: {{ . }}</div>{{ end }}
            {{ with .Model }}<div>📝 Model: {{ . }}</div>{{ end }}
            {{ with .Fuel1 }}<div>🛢️ Fuel: {{ . }}</div>{{ end }}
            {{ with .Transmission }}<div>⚙️ Transmission: {{ . }}</div>{{ end }}
            {{ with .SizeClass }}<div>📏 Taille: {{ . }}</div>{{ end }}
            {{ with .Year }}<div>📅 Année: {{ . }}</div>{{ end }}
                </div>
                <div class="car-info">
                    <div>🚗 Kilométrage: {{ with .Kilometers }}{{ . }}{{ end }} km</div>
                    <div>👥 Propriétaires: {{ with .OwnerNb }}{{ . }}{{ end }}</div>
                    <div>🎨 Couleur: {{ with .Color }}{{ . }}{{ end }}</div>
                    <div>💰 Prix: {{ .Price }} €</div>
                </div>
                <div class="car-meta">
                    <div>Concession: {{ .Shop }}</div>
                    <div>Ajoutée le: {{ humanDate .CreatedAt }}</div>
                </div>
                <div class="car-actions">
                    <a href="/car/{{ .ID }}" class="action-button view-button">Voir</a>
                    <a href="/car/update/{{ .ID }}" class="action-button edit-button">Modifier</a>
                    <a href="/car/delete/{{ .ID }}" class="action-button delete-button">Supprimer</a>
                </div>
            </div>

        {{ end }}

    </div>

{{end}}