{{define "client-list"}}

    {{/*Client List*/}}
    <div class="client-grid">

        {{ range . }}

            <div class="client-card">
                <div class="client-header">
                    <div class="client-name">{{ with .FirstName }}{{ . }}{{ end }} {{ with .LastName }}{{ . }}{{ end }}</div>
                    <div class="client-status active">{{ with .Status }}{{ . }}{{ end }}</div>
                </div>
                <div class="client-info">
                    <div>📧{{ with .Email }}{{ . }}{{ end }}</div>
                    <div>📱 {{ with .Phone }}{{ . }}{{ end }}</div>
                </div>
                <div class="client-address">
                    <div class="client-info">Adresse :</div>
                    <div class="client-info">{{ with .Address.Street }}{{ . }}{{ end }}</div>
                    <div class="client-info">{{ with .Address.Complement }}{{ . }}{{ end }}</div>
                    <div class="client-info">{{ with .Address.ZIP }}{{ . }}{{ end }} {{ with .Address.City }}{{ . }}{{ end }}</div>
                    <div class="client-info">{{ with .Address.Country }}{{ . }}{{ end }}</div>
                </div>
                <div class="client-meta">
                    <div>Concession: {{ with .Shop }}{{ . }}{{ end }}</div>
                    <div>Créé le: {{ humanDate .CreatedAt }}</div>
                </div>
                <div class="client-actions">
                    <a href="/client/{{ .ID }}" class="action-button view-button">Voir</a>
                    <a href="/client/{{ .ID }}/update" class="action-button edit-button">Modifier</a>
                    <a href="/client/{{ .ID }}/delete" class="action-button delete-button">Supprimer</a>
                </div>
            </div>

        {{ end }}

    </div>

{{end}}