{{ define "page" }}

    <div class="search-container">
        <div class="search-header">
            <h1>Recherche</h1>
        </div>

        <form class="search-form" method="get" action="/search">
            <input type="search" name="search" placeholder="Rechercher..." class="search-input">
            <button type="submit" class="search-button">Rechercher</button>
        </form>

{{/*         <div class="search-filters"> */}}
{{/*             <select class="filter-select" name="type"> */}}
{{/*                 <option value="">Tous les types</option> */}}
{{/*                 <option value="cars">Véhicules</option> */}}
{{/*                 <option value="clients">Clients</option> */}}
{{/*                 <option value="transactions">Transactions</option> */}}
{{/*             </select> */}}
{{/*             <select class="filter-select" name="sort"> */}}
{{/*                 <option value="id">ID</option> */}}
{{/*                 <option value="created_at">Date de création</option> */}}
{{/*                 <option value="updated_at">Date de modification</option> */}}
{{/*             </select> */}}
{{/*         </div> */}}

        <div class="results-grid">
            {{/*             Car Results              */}}
            {{ template "car-product-list" .CarProducts }}


            {{/*       Client Results        */}}
            {{ template "client-list" .Clients }}


            {{/*         Transaction Results          */}}
            {{ template "transaction-list" .Transactions }}
        </div>
    </div>

{{ end }}