{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {{ .Title }} </title>

    <link rel="icon" type="image/png" href="/static/img/logo/logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>


{{/* #######################################################################################*/}}
{{/*                                 MAIN - TEMPLATE                                        */}}
{{/* #######################################################################################*/}}

        <main class="template-ctn">

{{/*        FLASH       */}}
{{/* Test flash messages with position fixed and a translateY transition to make it appear from the top of the screen */}}
            {{ with .Flash }}
                <div class="flash">
                    <span class="flash-message"> {{ . }} </span>
                </div>
            {{ end }}

{{/*        TEMPLATE PAGE          */}}
            {{ template "page" . }}

        </main>


{{/* #######################################################################################*/}}
{{/*                                        FOOTER                                          */}}
{{/* #######################################################################################*/}}

        <footer class="footer-ctn">

            {{/*Copyrights*/}}
            <div class="copyrights">
                &copy; {{ .CurrentYear }} Antoine de Barbarin - Nicolas Moyon - Sabrina Eloundou. All rights reserved.
            </div>

        </footer>

    </div>

{{/* #######################################################################################*/}}
{{/*                                      JS SCRIPTS                                        */}}
{{/* #######################################################################################*/}}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script nonce="{{ .Nonce }}">

        {{/*including the CSRF token in the axios requests*/}}
        axios.defaults.headers.common['X-CSRF-TOKEN'] = {{ .CSRFToken }};


        {{/*####################################*/}}
        {{/*      Flash Message Animation       */}}
        {{/*####################################*/}}

        {{/*getting the flash message element*/}}
        const flash = document.querySelector('.flash');

        {{/*checking if there is a flash message*/}}
        if (!!flash) {

            {{/*making the flash message appear*/}}
            flash.style.transform = 'translate(0,-4px)';
            setTimeout(() => {

                {{/*pushing the flash message up (with timeout)*/}}
                flash.style.transform = 'translate(0,-101%)';

                {{/*removing the flash message (with another timeout)*/}}
                setTimeout(() => flash.style.display = 'none', 2000);
            }, 5000);
        }


        {{/*####################################*/}}
        {{/*   Search field Actions & Shorcuts  */}}
        {{/*####################################*/}}

        {{/*Prevent predefined messages when search is invalid*/}}
        const searchInput = document.querySelector('input#search-input.search-input');
        searchInput.addEventListener('invalid', (function () {
            return function (e) {
                e.preventDefault();
                searchInput.focus();
            };
        })(), true);

        {{/*Access search input when typing Ctrl+K*/}}
        document.addEventListener("keydown", (e) => {
            e = e || window.event;
            if (e.ctrlKey && e.key === "k") {
                searchInput.focus();
                e.preventDefault();
            }
        });

        {{/*Access search input when clicking on tag Ctrl+K*/}}
        const searchTag = document.querySelector('.search-label');
        searchTag.addEventListener('click', () => searchInput.focus());


{{/*####################################*/}}
{{/*    Remove CSRF token from URL      */}}
{{/*####################################*/}}

        if (window.location.href.includes('csrf_token')) {
            window.history.pushState({}, "{{ .Title }}", window.location.href.replace(/csrf_token[^&]+&?/, ''));
        }

    </script>

</body>
</html>
{{ end }}
